.DS_Store
Profile-*.json
# Editor configuration
.vscode
.idea
.vs
# Release artifacts
**/target
# Ignore test files that contributors could create locally
/test.*
npm-shrinkwrap.json
pnpm-lock.yaml
**/dist

node_modules/
**/node_modules
**/.DS_Store
*.node

# https://github.com/nnethercote/dhat-rs output file
dhat-heap.json
